/* 
 * html tags
 */

/* * {padding: 0;margin: 0} */
body{
	background-color: #acacac;
	font-family: Helvetica, Arial, sans-serif;
}

h1{

}

h2{
	font-weight: 100;
	color: #e8e8e8;
	letter-spacing: 6px;
	word-spacing: 6px;
	margin: 10px 0px 10px 5px;
	font-size: 24px;
}

h3{

}


/* 
 * ids
 */
#container{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#logo{
	margin: 0px auto;
	width: 200px;
}

#title{
	text-align: center;
}

/* 
 * classes
 */
.crimson{
	color: #a61d31;
}


/*
 * nav
 */
#nav{

}

#tabs{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    /***** do not mess with what is above here *****/
}
#tabs li{
    display: inline;
    /***** do not mess with what is above here *****/
    margin: 5px;
	padding: 5px;
	background-color: gray;
	text-align: center;
}
#tabs a{
    display: inline-block;
    padding: 10px;
    /***** do not mess with what is above here *****/
    color: #e8e8e8;
    letter-spacing: 2px;
    font-size: 18px;
	text-decoration: none;
}

#tabs li a:hover{
	color: #a61d31;
}