/* 
 * html tags
 */

/* * {padding: 0;margin: 0} */
body{
	background-color: gray;
	font-family: Helvetica, Arial, sans-serif;
}

h1{

}

h2{
	font-weight: 100;
	color: #e8e8e8;
	letter-spacing: 6px;
	word-spacing: 6px;
	margin: 10px 0px 10px 5px;
	font-size: 24px;
}

h3{

}


/* 
 * ids
 */
#container{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#logo{
	margin: 0px auto;
	width: 200px;
}

#title{
	text-align: center;
}

/* 
 * classes
 */
.crimson{
	color: #a61d31;
}


/*
 * nav
 */
#nav{
	width: 80%;
	height: 36px;
    margin: 0px auto;
}

#tabs{
	list-style: none;
}

#nav #tabs li{
	margin: 5px;
	padding: 5px;
	width: 100px;
	background-color: orange;
	text-align: center;
	float: left;
}

/*@media  (min-width: 500px) {
	#nav #tabs li{
		float: left
	}
}*/

@media  (max-width: 650px) {
	#nav {
		width: 100px !important;
	}

	#nav #tabs li{
		float: center !important;
	}
}

#nav #tabs li a{
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 18px;
	text-decoration: none;
}
/*
ul#tabs li a:hover{
	color: #a61d31;
}*/