/* 
 * html tags
 */

* {
	padding: 0px;
	margin: 0px;
}

body{
	/*background-color: #acacac;*/
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{

}

h2{
	font-weight: 100;
	color: #e8e8e8;
	letter-spacing: 6px;
	word-spacing: 6px;
	font-size: 24px;
}

h3{

}


/* 
 * ids
 */
#container{
	width: 980px;
	margin: 0px auto;
}

#header{
	position: relative;
	z-index: 1;

}

#footer{
	width: 960px;
	background-color: gray;
	padding: 10px;
	color: white;
	letter-spacing: 2px;
	font-size: 10px;
	font-weight: 100;
	position: fixed;
	top: 653px;
}

#logo{
	width: 75%;
	display: block;
	margin: 5% auto;
}

#slideshow{
	width: 980px;
	height: 653px;
	position: fixed;
	top: 0 !important;
	z-index: 0;
}

#slideshow figure{
	width: 100%;
	height: 100%;
}

#slideshow figure img{
	height: 100%;
}

#slideshow figure figcaption{
	font-size: 18px;
	font-weight: 100;
	color: gray;
	text-align: right;
	padding-right: 10px;
	margin-top: -30px;
}
/*
#board figure{
	width: 100px;
	height: 200px;
}

#board figure figcaption p{
	width: 100px;
	height: 100px;
	margin-top: -60px;
	font-size: 12px;
	font-weight: 100px;
	background-color: black;
}*/

/* 
 * classes
 */
.crimson{
	color: #a61d31;
}

/*.ssi{
	width: 100% !important;
}*/


/*************************
 *
 * nav
 */
/*#nav{
	background-color: orange;
	position: fixed;
	top: 25px;
	height: 50px;
	width: 784px;
	margin: 0px 98px;
	z-index: 1;
	border-radius: 15px;
}*/
/*
#tabs{
	list-style: none;
	text-align: center;
    /***** do not mess with what is above here *****/
    /*background-color: orange;*/
	/*position: fixed;
	top: 25px;
	margin: 0px 0px;
	z-index: 1;
	border-radius: 15px;
}
#tabs li{
	display: inline-block;*/
	/***** do not mess with what is above here *****/
	/*padding: 0px 10px;
	border-right: 1px solid black;
	background-color: orange;
	width: 100px;
	height: 36px;
}
#tabs a{*/
    /***** do not mess with what is above here *****/
    /*color: #e8e8e8;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 100;
	text-decoration: none;

}

#tabs li a img{
	height: 30px;
	margin-top: 3px;
}

#tabs li a:hover{
	color: #a61d31;
}*/
/***********************/

