#artists {
	width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url('../img/brushed/brushed.png');
}

#connect{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url('../img/brushed/brushed.png');
    text-align: center;
}

#gallery{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url('../img/brushed/brushed.png');
}

#support{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
	background-image: url('../img/brushed/brushed.png');
}

#testimonials{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url('../img/brushed/brushed.png');
}

#board{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url('../img/brushed/brushed.png');
}